/* do i need this? Or can i just use index.css? */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* No more pokemon left msg */
h2 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}
h1 {
  text-align: center;
}
.error-box {
  display: flex;

  justify-content: center;
  height: 100vh;
}

/* Pokemon Display */
.displayPokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #2699ab;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
}

button:hover {
  background-color: #04a7f3;
}
/* 
  We may need to use tailwind so we don't hurt ourselves!
  buttons work weird. 
  */
